{% extends 'userModule/base.html' %}
{% load cust_temp_function %}
{% load humanize %}
{% load static %}


{% block title %}Buy mobile, clothing, daily essentials - ShoppingSite{% endblock %}

{% block body %}
<section class="offerSlider container-fluid my-2">
    <div id="carousel" class="carousel slide carousel-dark" data-bs-touch="true" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for path in offerSlide_img_paths %}
            <div class="carousel-item {% if forloop.counter is 2 %}active{% endif %}" >
                <img src="/media/{{path}}" class="d-block mx-auto" style='height:15rem; width:100%;' alt="..." >
            </div>
            {% endfor %}
        </div>
        <button class="bg-light my-auto carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev" style="width:3%;height:5rem; opacity:1;">
            <span class=" carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="bg-light my-auto carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next" style="width:3%;height:5rem; opacity:1;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>   
</section>

{% if topDealProd|length != 0%}
<section class="topDeal slider" >
    <h3>Top Deals</h3>
    <div id="topDeal_carousel" class="mt-3 carousel slide carouselHN" data-bs-touch="true" >
        {% comment %} data-bs-ride="carousel" #for autoplay {% endcomment %}
        <div class="carousel-inner d-lg-flex " style="height:15rem;">
            <div class="carousel-item active">
                <div class="d-lg-flex text-center h-100">

                {% for item in topDealProd %}
                    {% for i in item %}

                        <a href="/view/?{{i.name}}&rlt&p_id={{i.id}}&rlt2" class="card mx-2 text-decoration-none productLink" style="width: 19rem;">
                            <div class="imgDiv h-75">
                                <img src="{% static 'userModule/img/blah.webp' %}" class="card-img-top " alt="..." >
                            </div>
                            <div class="card-body">
                                <h6 class="card-text category">{{item.id}} </h6>
                                <p class="card-text text-success off/price">Min. 60% off </p>
                            </div>
                        </a>
                        {% if forloop.counter|divisibleby:5 and forloop.counter > 0 and not forloop.last%}
                </div>
            </div>
                    
            <div class="carousel-item">
                <div class="d-lg-flex text-center h-100">
                        {%endif%}
                    {% endfor %}
                {% endfor %}
                </div>
            </div>
        </div>
        <button class="bg-dark my-auto carousel-control-prev" type="button" data-bs-target="#topDeal_carousel" data-bs-slide="prev" style="width:3%;height:5rem; opacity:1;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="bg-dark my-auto carousel-control-next" type="button" data-bs-target="#topDeal_carousel" data-bs-slide="next" style="width:3%;height:5rem; opacity:1;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>   
</section>
{% endif %}
<section class="manJeans slider">
    <h3>Men's Jeans 
        {% for item in manJeans|slice:":1" %}
        <a href="{{item.FK_product_sub_category.id|subCat_href:item.FK_product_sub_category.subCat_name}}" class="fs-6 viewBtn">View all</a>
        {% endfor %}
    </h3>
    
    <div id="menJeans_carousel" class="mt-3 carousel slide carouselHN" data-bs-touch="true" >
        {% comment %} data-bs-ride="carousel" #for autoplay {% endcomment %}
        <div class="carousel-inner d-lg-flex " style="height:14rem;">
            <div class="carousel-item active">
                <div class="d-lg-flex text-center h-100">

                {% for item in manJeans|get_rand_item:24 %}
                    <a href="{{item.id|prod_href:item.name}}" class="card border-0 mx-2 text-decoration-none productLink" style="width: 12rem;" title="{{item.name|truncatewords:8}}">
                        <div class="imgDiv h-100">
                            <img src="/media/{{item.image}}" class="card-img-top rounded-0" alt="{{item.name}}"  >
                        </div>
                        {% comment %} <div class="card-body">
                            <h6 class="card-text category">{{item.id}} </h6>
                            <p class="card-text text-success off/price">Min. 60% off </p>
                        </div> {% endcomment %}
                    </a>
                    {% if forloop.counter|divisibleby:8 and forloop.counter > 0 and not forloop.last%}
                </div>
            </div>
                    
            <div class="carousel-item">
                <div class="d-lg-flex text-center h-100">
                        {%endif%}
                {% endfor %}
                </div>
            </div>
        </div>
        <button class="bg-dark my-auto carousel-control-prev" type="button" data-bs-target="#menJeans_carousel" data-bs-slide="prev" style="width:3%;height:5rem; opacity:1;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="bg-dark my-auto carousel-control-next" type="button" data-bs-target="#menJeans_carousel" data-bs-slide="next" style="width:3%;height:5rem; opacity:1;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>   
</section>

<section class="bestElectronics slider" >
    <h3>Best of Electronics</h3>
    <div id="bestElectronics_carousel" class="mt-3 carousel slide carouselHN" data-bs-touch="true" >
        {% comment %} data-bs-ride="carousel" #for autoplay {% endcomment %}
        <div class="carousel-inner d-lg-flex " style="height:19rem;">
            <div class="carousel-item active">
                <div class="d-lg-flex text-center h-100">
                {% for item in bestElectronics %}

                    <a href="{{item.id|subCat_href:item.subCat_name}}" class="card mx-2 text-decoration-none productLink " style="width: 18rem;" title="{{item.subCat_name}}">

                        <div class="imgDiv h-75">
                            <img src="/media/{{item.image}}" class="card-img-top " alt="{{item.subCat_name}} Image" >
                        </div>
                        <div class="card-body">
                            <h6 class="card-text category">{{item.subCat_name}} </h6>
                            <p class="card-text text-success off/price">Min. 60% off </p>
                        </div>
                    </a>
                    {% if forloop.counter|divisibleby:5 and forloop.counter > 0 and not forloop.last%}
                </div>
            </div>
                    
            <div class="carousel-item">
                <div class="d-lg-flex text-center h-100">
                        {%endif%}
                {% endfor %}
                </div>
            </div>
        </div>
        <button class="bg-dark my-auto carousel-control-prev" type="button" data-bs-target="#bestElectronics_carousel" data-bs-slide="prev" style="width:3%;height:5rem; opacity:1;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="bg-dark my-auto carousel-control-next" type="button" data-bs-target="#bestElectronics_carousel" data-bs-slide="next" style="width:3%;height:5rem; opacity:1;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>   
</section>
<section class="m"></section>


{% endblock %}
{% block JS %}

{% endblock %}